<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>BuySell</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="#"
            >BuySell<img
              class="icon-logo"
              src="./img/icons8-shopping-cart-64.png"
          /></a>
        </div>
        <div class="header-links">
          <a href="#"
            ><img class="links-logo" src="./img/icons8-buying-24.png" />Cart</a
          >
          <a href="#"
            ><img
              class="links-logo"
              src="./img/icons8-add-administrator-24.png"
            />Sign up</a
          >
          <a href="#"
            ><img class="links-logo" src="./img/icons8-person-32.png" />Sign
            in</a
          >
        </div>
      </header>
      <main class="row center">
        <div class="card">
          <a href=""
            ><img
              class="medium"
              class="product-image"
              src="./img/fashion.jpeg"
              alt="product"
          /></a>

          <div class="card-body">
            <a href="product.html"><h2>Slim Shirt</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="price">#30,000</div>
          </div>
        </div>
        <div class="card">
          <a href=""
            ><img
              class="medium"
              class="product-image"
              src="./img/fashion.jpeg"
              alt="product"
          /></a>

          <div class="card-body">
            <a href="product.html"><h2>Slim Shirt</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="price">#30,000</div>
          </div>
        </div>
        <div class="card">
          <a href=""
            ><img
              class="medium"
              class="product-image"
              src="./img/fashion.jpeg"
              alt="product"
          /></a>

          <div class="card-body">
            <a href="product.html"><h2>Slim Shirt</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="price">#30,000</div>
          </div>
        </div>
        <div class="card">
          <a href=""
            ><img
              class="medium"
              class="product-image"
              src="./img/fashion.jpeg"
              alt="product"
          /></a>

          <div class="card-body">
            <a href="product.html"><h2>Slim Shirt</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="price">#30,000</div>
          </div>
        </div>
        <div class="card">
          <a href=""
            ><img
              class="medium"
              class="product-image"
              src="./img/fashion.jpeg"
              alt="product"
          /></a>

          <div class="card-body">
            <a href="product.html"><h2>Slim Shirt</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="price">#30,000</div>
          </div>
        </div>
        <div class="card">
          <a href=""
            ><img
              class="medium"
              class="product-image"
              src="./img/fashion.jpeg"
              alt="product"
          /></a>

          <div class="card-body">
            <a href="product.html"><h2>Slim Shirt</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="price">#30,000</div>
          </div>
        </div>
        <div class="card">
          <a href=""
            ><img
              class="medium"
              class="product-image"
              src="./img/fashion.jpeg"
              alt="product"
          /></a>

          <div class="card-body">
            <a href="product.html"><h2>Slim Shirt</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <div class="price">#30,000</div>
          </div>
        </div>
        <div class="card">
          <a href=""
            ><img
              class="medium"
              class="product-image"
              src="./img/fashion.jpeg"
              alt="product"
          /></a>

          <div class="card-body">
            <a href="product.html"><h2>Slim Shirt</h2></a>
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
            </div>
            <div class="price">#30,000</div>
          </div>
        </div>
      </main>
      <footer class="footer">BuySell.com</footer>
    </div>
  </body>
</html>
